// - - - - - - - - - - - - - - - - - - -
// - - colors
// define global colors

// - - - - - - - - - - - - - - - - - - -
// - - descriptive colors
$color--white: #FFFFFF;
$color--black: #000000;
$color--red: #C61C22;

// - - - - - - - - - - - - - - - - - - -
// - - functional colors

// - - base
$body--background__color: $color--white;
$body--text__color: $color--black;
$body--text__color-light: $color--white;

// - - button

// - - forms

// - - tables