// display
@mixin flex {
    display: flex;
}

// flex basis
@mixin flex-basis($width) {
    flex-basis: $width;
}

// flex wrap
@mixin flex-wrap-wrap {
    flex-wrap: wrap;
}
@mixin flex-wrap-nowrap {
    flex-wrap: nowrap;
}

// flex direction
@mixin flex-direction-row {
    flex-direction: row;
}
@mixin flex-direction-column {
    flex-direction: column;
}

// justify content
@mixin flex-justifycontent-start {
    justify-content: flex-start;
}
@mixin flex-justifycontent-end {
    justify-content: flex-end;
}
@mixin flex-justifycontent-center {
    justify-content: center;
}
@mixin flex-justifycontent-spacebetween {
    justify-content: space-between;
}
@mixin flex-justifycontent-spacearound {
    justify-content: space-around;
}

// align items
@mixin flex-alignitems-start {
    align-items: flex-start;
}
@mixin flex-alignitems-end {
    align-items: flex-end;
}
@mixin flex-alignitems-center {
    align-items: center;
}

// flex grow
@mixin flex-grow($grow: 0) {
    flex-grow: $grow;
}

// flex
@mixin flex-auto {
    flex: auto;
}
@mixin flex-one {
    flex: 1;
}

// flex shrink
@mixin flex-shrink($shrink: 0) {
    flex-shrink: $shrink;
}

// flex width
@mixin flex-width($width) {
    flex: 0 0 $width;
    @include breakpoint(small) {
        flex: 0 0 100% !important;
    }
}