@font-face {
    font-family: 'Luckiest Guy';
    src: url('LuckiestGuy-Regular.woff2') format('woff2'),
        url('LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

