// BREAKPOINTS
// ---------------------------------------------------------------------------
$small: 768px !default;
$medium: 1024px !default;
$large: 1200px !default;

// GRID
// ---------------------------------------------------------------------------
$grid-columns: 12 !default;
$grid-gutter: 30px !default;