// - - - - - - - - - - - - - - - - - - -
// - - base

// - - project defaults for base elements - h1-h6, p, a, etc.
body{
	font-family: $body--text__font;
    font-size: 14px;
    line-height: 1.5;
    color: $body--text__color;
    background-color: $body--background__color;
}
*, *:before, *:after {
    box-sizing: border-box;
}
textarea{
    resize: none;
}