// - - - - - - - - - - - - - - - - - - -
// - - typography
// define global typography
a{
    @include vendor(transition, all 250ms ease);
    text-decoration: none;
}

// - - heading
h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}
h2{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5;
}
h4{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}
h5{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
}
