// - - - - - - - - - - - - - - - - - - -
// - - variables
// define global variables

// -- global border radius
$border-radius--oval: 100%;
$border-radius--rounded: 4px;
$border-radius--rounded__form-input: 2px;